/* GENERAL SETUP  */
body{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

/* COMMON */
.button.back-white{
    background-color: white;
}
.button.back-blue{
    background-color: #0084fd;
}
.button.back-violet{
    background-color: #9792e4;
}
.button.col-black{
    color: black;
}
.button.col-violet{
    color: #9792e4;
}
.button.col-white{
    color: white;
}
.button.wide{
    padding: 8px 3em;
}
.button.icon{
    padding: .3em .66em; 
    border-radius: 50%;
}

/* 
*   Every other pager except for first and last
*   has violet background
*/
.pager:nth-child(2n+3):not(:last-of-type){
    background-color: #9792e4;
}

.pager > section{
    padding-top: 2em;
    padding-bottom: 2em;
}


/* HEADER PAGER */
.pager:first-of-type{
    background-color: #0084fd;
}
#site-header{
    height: 65px;

    color: white;
    font-size: large;
    font-weight: 500;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#site-header > ul{
    display: flex;
    justify-content: space-between;
}
#site-header li{
    margin-left: 1em;
}

#site-header > button{
    display: none;
    font-size: x-large;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


/* FEATURE PAGER */
#sct-feature{
    padding-top: 2em;
    padding-bottom: 5em;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
}

.feature{
    flex: 1 0 31%;
    min-width: 200px;

    font-size: small;

    background-color: #b5ddff;
    padding: 3% 2%;
    border-radius: 20px;
}
.feature .text{
    text-align: center;
}
.feature .text > *:not(:last-child){
    margin-bottom: 1rem;
}
.feature .text > i{
    color: #0084fd;
    font-size: 400%;
}
.feature h3{
    color: #0084fd;
    font-size: medium;
    font-weight: 600;
}
.feature a{
    letter-spacing: 0.2em;
}

.feature.large{
    position: relative;
    flex: 1 0 65.5%;

    padding-bottom: 0;

    display: flex;
    flex-wrap: wrap;
}
.feature.large .text{
    flex: 1 0 50%;
    text-align: left;
    margin-bottom: 2em;
}
.feature.large p{
    margin-bottom: 3em !important;
}
.feature.large img{
    min-width: 200px;
    width: 50%;
    height: fit-content;
    align-self: flex-end;
}


/* STRATEGIC PAGER */
#sct-strategic{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}
#sct-strategic > div{
    min-width: 200px;
}

#sct-strategic > div:first-child{
    flex: 1 0 50%;

    color: white;
}
#sct-strategic > div:first-child img{
    margin-bottom: 6em;
}

#sct-strategic > div:last-child{
    flex: 1 0 40%;
    height: fit-content;
    align-self: flex-end;

    padding: 3%;
    text-align: center;

    background-color: white;
    border-radius: 25px;
}

#sct-strategic > div:last-child > *{
    margin-bottom: 1rem;
}


/* TESTIMONIALS PAGER */
#sct-testimonials{
    text-align: center;
}
#sct-testimonials > *{
    display: block;
    margin-bottom: 1rem;
}
#sct-testimonials h2{
    color: #9792e4;
}

.testim{
    padding: 2em;

    margin-bottom: 1em;
    border-radius: 30px;

    background-color: #9792e4;
    color: white;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3em;

}
.testim img{
    flex: 0 0 200px;
    min-width: 200px;
    height: 200px;

    object-fit: cover;
    border-radius: 50%;
}
.testim > div{
    flex: 0 1 70%;

    min-width: 200px;
    text-align: left;
}
.testim p{
    line-height: 2em;
}
.testim p:before,
.testim p:after{
    font-size: x-large;
    font-weight: 600;
}
.testim p:before{
    content: "\201C";
}
.testim p::after{
    content: "\201D";
}

.testim span{
    font-weight: 600;
}



/* BENEFITS PAGER */
#sct-benefits h2{
    color: white;
    text-align: center;
    margin-bottom: 2em;
    font-weight: 600;
}
#sct-benefits > div{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
}

.benefit{
    flex: 1 0 31%;
    min-width: 200px;
    
    padding: 1.5em;

    background-color: white;
    border-radius: 20px;
}
.benefit > *{
    margin-bottom: 1rem;
}
.benefit span{
    font-size: 5rem;
    font-weight: bold;
    color: #9792e4;
}
.benefit h3{
    font-size: large;
    color: #9792e4;
}



/* ABOUT US PAGER */
#sct-about{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    gap: 2em;
}
#sct-about > div > *{
    margin-bottom: 1.2rem;
}

#sct-about div:first-child{
    flex: 1 1 75%
}
#sct-about h2{
    color: #9792e4;
}

.citation{
    flex: 1 0 15%;
    min-width: 200px;
    max-width: 250px;
    color: #9792e4;
}

.citation > div{
    position: relative;
    overflow: hidden;
    max-width: 200px;
}
.citation img{
    border-radius: 50%;
}
.citation img+i{
    position: absolute;
    top: 0px;
    right: 0px;

    font-weight: 900;
    font-size: 300%;
}
.citation a{
    font-size: small;
}



/* PRICING PAGER */
#sct-pricing{
    text-align: center;
    color:white;
}
#sct-pricing > *{
    margin-bottom: 1rem;
}
#sct-pricing strong{
    color: #fdc15f;
    font-size: 6em;
}
#sct-pricing a{
    display: inline-block;
}

/* FOOTER PAGER */
.pager:last-of-type{
    background-color: #333333;
}
#site-footer{
    padding-top: 2em;

    color: white;
    text-align: center;

    padding-bottom: 2em;
}

#site-footer > p{
    margin-bottom: 3em;
}

#site-footer a{
    color: #817ebe;
}