@media screen and (max-width: 480px) {

    /* COMMON */
    .pager>.narrow {
        padding-right: 4%;
        padding-left: 4%;
    }
    .pager>.xs.narrow {
        padding-right: 4%;
        padding-left: 4%;
    }
    .pager>.xxs.narrow {
        padding-right: 4%;
        padding-left: 4%;
    }


    /* FEATURE SECTION */
    #sct-feature{
        flex-direction: column;
    }
    .feature.large .text {
        text-align: center;
    }
}