/* GENERAL SETUP  */
body{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

/* COMMON */
.button{
    padding: 6px 0.6em;
    border-radius: 1px;

    text-align: center;
    text-decoration: none;

    font-weight: 600;
}

/* 
*   Every other pager except for first and last
*   has violet background
*/
.pager:nth-child(2n+3):not(:last-of-type){
    background-color: #9792e4;
}

.pager > section{
    padding-top: 2em;
    padding-bottom: 2em;
}


/* HEADER PAGER */
.pager:first-of-type{
    background-color: #0084fd;
}
#site-header{
    height: 50px;

    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#site-header > ul{
    display: flex;
    justify-content: space-between;
}
#site-header li{
    margin-left: 1em;
}

#site-header > button{
    display: none;
}


/* FEATURE PAGER */
#sct-feature{
    padding-top: 2em;
    padding-bottom: 5em;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
}

.feature{
    flex: 1 0 31%;
    min-width: 200px;

    font-size: small;

    background-color: #b5ddff;
    padding: 3% 2%;
    border-radius: 20px;
}
.feature h3{
    color: #0084fd;
    font-size: medium;
}

.feature.large{
    position: relative;
    flex: 1 0 65.5%;

    padding-bottom: 0;

    display: flex;
    flex-wrap: wrap;
}
.feature.large .text{
    flex: 1 0 50%;
}
.feature.large img{
    min-width: 200px;
    width: 50%;
    height: fit-content;
}


/* STRATEGIC PAGER */
#sct-strategic{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}
#sct-strategic > div{
    min-width: 200px;
}

#sct-strategic > div:first-child{
    flex: 1 0 50%;

    color: white;
}
#sct-strategic > div:first-child img{
    margin-bottom: 6em;
}

#sct-strategic > div:last-child{
    flex: 1 0 40%;
    height: fit-content;
    align-self: flex-end;

    background-color: white;
    border-radius: 25px;
}


/* TESTIMONIALS PAGER */
#sct-testimonials{
    text-align: center;
}
#sct-testimonials h2{
    color: #9792e4;
}

.testim{
    padding: 2em;

    margin-bottom: 1em;
    border-radius: 30px;

    background-color: #9792e4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3em;

}
.testim img{
    flex: 0 0 200px;
    min-width: 200px;
    height: 200px;

    object-fit: cover;
    border-radius: 50%;
}
.testim > div{
    flex: 0 1 70%;

    min-width: 200px;
    text-align: left;
}



/* BENEFITS PAGER */
#sct-benefits h2{
    color: white;
    text-align: center;
    margin-bottom: 2em;
}
#sct-benefits > div{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
}

.benefit{
    flex: 1 0 31%;
    min-width: 200px;
    
    padding: 1em;

    background-color: white;
    border-radius: 20px;
}
.benefit span{
    font-size: 5rem;
    font-weight: bold;
    color: #9792e4;
}
.benefit h3{
    font-size: large;
    color: #9792e4;
}



/* ABOUT US PAGER */
#sct-about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

#sct-about div:first-child{
    flex: 1 0 65%
}
#sct-about h2{
    color: #9792e4;
}

.citation{
    flex: 1 0 25%;
    min-width: 200px;
    color: #9792e4;
}

.citation > div{
    position: relative;
    overflow: hidden;
}
.citation img{
    border-radius: 50%;
}
.citation img+i{
    position: absolute;
    top: 0px;
    right: 0px;

    font-weight: 900;
    font-size: 300%;
}



/* PRICING PAGER */
#sct-pricing{
    text-align: center;
    color:white;
}
#sct-pricing > *{
    margin-bottom: 1em;
}

#sct-pricing strong{
    color: #fdc15f;
    font-size: 6em;
}

/* FOOTER PAGER */
.pager:last-of-type{
    background-color: #333333;
}
#site-footer{
    padding-top: 2em;

    color: white;
    text-align: center;

    padding-bottom: 2em;
}

#site-footer > p{
    margin-bottom: 3em;
}

#site-footer a{
    color: #817ebe;
}