@media screen and (max-width: 768px) {
    
    /* HEADER */
    #site-header > ul{
        display: none;
    }

    #site-header > button{
        display: inline;;
    }

    /* STRATEGIC PAGER */
    #sct-strategic{
        flex-direction: column;
    }

    /* BENEFITS PAGER */
    .benefit{
        flex: 1 0 48%;
    }
}