/* 
    Set of utility ruleset of css,
    may be useful.

    F.L.
*/

*,
*::after,
*::before
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    /* Testing Mode  */
    /* border: 1px dashed orange; */
}

img{
    max-width: 100%;
}

/* COMMON */

.pager{
    width: 100%;
}
.pager > *{
    margin: 0 auto;
    padding-right: 2%;
    padding-left: 2%;

    max-width: 1200px;
}
.pager > .narrow{
    padding-right: 7%;
    padding-left: 7%;
}
.pager > .xs.narrow{
    padding-right: 12%;
    padding-left: 12%;
}


.link-list{
    list-style: none;
    padding-inline-start: 0;
}
.link-list a{
    text-decoration: none;
    color: currentColor;
}